@()
<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/#">Nutrify</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><a href="/products/">Products</a></li>
          <li><a href="/products/new">Add</a></li>
          <li><a href="/app/">Mobile</a>
        </ul>
        <ul class="nav pull-right" id="main-menu-right">
            <form class="navbar-search">
                <input type="text" class="search-query span3" placeholder="Search"><i class="icon-search"></i>
            </form>
           <li class="divider-vertical"></li>
           <li><a href="/about">About</a></li>
        </ul>
       </div>
     </div>
   </div>
</div>