@(productForm: Form[Product])
@import helper._
@import helper.twitterBootstrap._
@main("Product form") {
    <h1>Product form</h1>
	@helper.form(action = routes.Products.save()) {
	    <fieldset>
	        @if(productForm("name").valueOr("").isEmpty()) {
	           <legend>New product</legend>
	        } else {
	           <legend>Product @productForm("name").value <a class="pull-right" href="@routes.Products.delete(productForm("ean").value.toLong)"><i class="icon-remove"></i></a></legend>
	        }
	        @helper.inputText(productForm("ean"))
	        @helper.inputText(productForm("name"))
	        @helper.textarea(productForm("description"))
	    </fieldset>
	    <input type="submit" class="btn primary">
	}
}