@(products: Iterable[Product])
@main("Products catalogue") {
    <h1>All products</h1>
    @if(!products.iterator().hasNext()) {
        <p>No products found.</p>
    } else {
        <p><small><em>@Product.products().count() product(s) found.</em></small></p>
	    <dl>
	        @for(product <- products.iterator()) {
	            <dt>
	                <a href="@routes.Products.show(product.ean)">
	                    @product.ean - @product.name
	                </a>
	            </dt>
	        <dd>@product.description</dd>
	        }
	    </dl>
	}
    <a href="@routes.Products.showBlank()" class="btn"><i class="icon-plus"></i> New product</a>
}